.nav {
    grid-area: n;
    background-color: burlywood;
}

.nav ul {
    list-style: none;
}

.nav ul a {
    text-decoration: none;
    color: white;
}

.nav_link {
    color: black;
}

.active {
    color: gold;
}